
 
        body {
            font-family: Arial, sans-serif;
            background-image: url("téléchargement\ \(8\).jpg");
            color: #00000080;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-attachment: fixed;
           
        }
        header {
            background-color: #3333339f;
            color: rgb(8, 116, 23);
            padding: 20px;
            text-align: center;
        }
        .content {
            margin: 250px;
            border-radius: 20px;
            padding: 30px;
            background-color: #2c702aa9;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .section {
            margin-bottom: 20px;
        }
        h2 {
            color: #0066cc;
        }
        footer {
            background-color: #00000080;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        footer p {
            margin: 0;
        }
    

